


.bgr-blue 
{
    background-color: rgb(16, 37, 104);
}


.fs-30
{
    font-size: 30px;
}

.fs-20
{
    font-size: 20px;
}

.container h2
{
    text-align: center;
}

.mrl-5
{
    margin-left: 5px;
}

.mr-10
{
    margin-right: -20px;
}

.mr-top
{
    margin-top: 10px;
} 

.w-100 
{
    width: 100%;
}

.chain
{
    margin: 0 auto;
    margin-top: 4px;
    text-align: center;
}

.grid-chain-bottom h6
{
    margin: 0;
    font-size: 1.5em;
    color: black;
    font-weight: 700;
    padding: 0.8em 0.5em 0;
}

.grid-chain-bottom h6 a:hover 
{
    text-decoration: none;
    color: brown;
}

.txt-pro a:hover
{
    text-decoration: none;
    color: brown;
}

.actual
{
    color: rgb(16, 37, 104);
    font-size: 1.2em;
}

.reducedfrom 
{
    color: #5555;
    text-decoration: line-through;
    margin-right: 8%;
    font-size: 1.1em;
}

.dolor-grid span 
{
    margin-left: 12px;
}

.br 
{
    margin: 10px;
    border: 2px solid #ddd;
}

.get-card
{
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mrl-10
{
    margin-left: 10px;
}

.mrr-10
{
    margin-left: -10px;
}

.mrl-20
{
    margin-left: 20px;
}

.tag-a 
{
    margin-left: 15px;
}

.tag-a:hover
{
    color: saddlebrown;
    text-decoration: none;
}


footer {
    background-color: rgb(105, 105, 105);
    color: rgb(163, 185, 255);
    padding: 15px;
}

.list-sty
{
    list-style: none;
}

.price-sty
{
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.br-grey 
{
    background-color: rosybrown;
}

.pro-lq
{
    width: 50px;
    height: 45px;
}

.brl 
{
    border-left: #ddd solid 1px;
}

.brr 
{
    border-right:#ddd solid 1px ;
}

.bold-txt
{
    font-weight: bold;
}

.txt-pro
{
    text-align: justify;
    padding: 5px;
    font-size: 12px;
}

.txt-color-blue
{
    color: cyan;
}

.txt-color-yelow
{
    color: rgb(233, 236, 3);
}
.txt-color-grey
{
    color: rgb(168, 168, 168);
}
.txt-color-red
{
    color: rgb(255, 0, 0);
}